.main {
  max-width: 317px;
  padding: 0 35px 24px;
  background-color: #1a1b21;

  &__about {
    margin-bottom: 27px;

    &-title {
      margin: 0 0 5px 0;
      color: #f5f5f5;
      font-weight: 700;
    }

    &-text {
      margin: 0;
    }
  }

  &__interests {
    &-title {
      margin: 0 0 5px 0;
      color: #f5f5f5;
      font-weight: 700;
    }

    &-text {
      margin: 0;
    }
  }
}
