* {
  font-family: Inter, sans-serif;
}

#root {
  border: 1px solid #161619;
  border-radius: 10px;
}

body {
  width: 317px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #23252c;
  color: #dcdcdc;
  font-weight: 400;
  font-size: 11px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
